.player-wrapper {
  width: 100vw;
  padding: 10px 20px 20px;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.playpause-btn-tog-wrap {
  width: 40px;
  height: 40px;
  float: left;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-family: Materialiconsround, sans-serif;
  font-size: 30px;
  position: relative;
}

.hidden {
  display: none !important;
}

.play-tog {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: block;
  position: absolute;
}

.center-button-txt {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.pause-tog {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: block;
  position: absolute;
}

@font-face {
  font-family: 'Materialiconsround';
  src: url('../fonts/materialicons.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}