
body { margin:0; overflow: hidden; font-family: Canadalt, sans-serif; color: white; line-height: 1.3em; }
p {font-family: Canadalt, sans-serif;}
b {font-family: Canada, sans-serif;}
a {color: white; text-decoration: underline;}
ul {font-size: 0.8em;}

#rewind {
width: 40px;
height: 40px;
border: none ;
background-color: transparent;
background-image: url("../favicon/rewind.svg");
background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 0.7;
}

#rewind:hover {
  opacity: 1;
}

#forward {
width: 40px;
  height: 40px;
  border: none ;
  background-color: transparent;
  background-image: url("../favicon/forward.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 0.7;
}

#forward:hover {
  opacity: 1;
}

.logohold {
    width: 100%;
    text-align: center;
}

.logo {
    position: relative;
    width: 100%;
    max-width:300px;
    margin:auto;
    display: block;
    padding-top: 40px;
}

.fullscreen {
  position:relative; width: 100vw; height: 100vh; overflow: hidden; 
  background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen; 
}

.loadingscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen; 
  z-index: 1000;
  text-align: center;
  opacity: 1;
  transition: opacity 2s ease; 
}

.loadingscreen.fade-out {
  opacity: 0;
}

.vertcen {
position: absolute;
display: block;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
font-size: 16px;
line-height: 1em;
padding-bottom: 50px;
text-align: center;
}

.loadingscreen p {
    font-family: Canadalt, sans-serif; 
    max-width: 525px;
    margin: auto;
    padding-bottom:20px;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-size: 5.6em;
    line-height: 0.8em;
}

.smallh {
font-size: 0.1em;
line-height: 0em;
font-family: Canada, sans-serif; 
position: relative;
top: -25px;
}

.cap1 {font-family: Ezekiel, serif; font-size: 1.3em;}
.cap2 {font-family: Canada, sans-serif;}

h2 {
    font-family:Ezekiel, serif; 
    line-height: 0.9em;
    font-size: 3em;
    padding-top:10px;
}

.transcriptionpop {
position: absolute;
width: 100%;
height: 100%;
z-index: 50;
background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
background-blend-mode: screen; 
top:0;
text-align: center;
padding: 0px 20px 0px 20px;
overflow: scroll;
}

.descriptionpop {
position: absolute;
width: 100%;
height: 100%;
z-index: 50;
background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
background-blend-mode: screen; 
top:0;
text-align: center;
padding: 0px 20px 0px 20px;
overflow: scroll;
}

.transpoptxt {
max-width: 750px;
margin-left:auto;
margin-right: auto;
text-align: left;
height: 100%;
font-size: 1.2em;
padding-top:50px;
letter-spacing: 0.5px;
line-height: 1.3em;
}

.buttonhold {
    position: fixed;
  top:15px;
  right:15px;
  z-index: 25;
}

.transbutt {
    position: relative;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  padding:5px 15px 5px 15px;
  font-size: 16px;
}

.transbutt:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}

.descbutt {
    position: relative;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  padding:5px 15px 5px 15px;
  font-size: 16px;
  margin-left:10px;
}

.descbutt:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}

.spacer {
    display: block;
    width: 100%;
    height: 250px;
}

.cover {
  position: absolute;
  width:100%;
  height: 100%;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 80%;
}

#img1-1 {
    background-image: url("../bg/cluster1-1.webp");
}

#img1-2 {
    background-image: url("../bg/cluster1-2.webp");
}

#img1-3 {
    background-image: url("../bg/cluster1-3.webp");
}

#img1-4 {
    background-image: url("../bg/cluster1-4.webp");
}

#img1-5 {
    background-image: url("../bg/cluster1-5.webp");
}

#img1-6 {
    background-image: url("../bg/cluster1-6.webp");
}

#img2-1 {
    background-image: url("../bg/cluster2-1.webp");
}

#img2-2 {
    background-image: url("../bg/cluster2-2.webp");
}

#img2-3 {
    background-image: url("../bg/cluster2-3.webp");
}

#img2-4 {
    background-image: url("../bg/cluster2-4.webp");
}

#img2-5 {
    background-image: url("../bg/cluster2-5.webp");
}

#img2-6 {
    background-image: url("../bg/cluster2-6.webp");
}

#img2-7 {
    background-image: url("../bg/cluster2-7.webp");
}

#img2-8 {
    background-image: url("../bg/cluster2-8.webp");
}

#img2-9 {
    background-image: url("../bg/cluster2-9.webp");
}

#img2-10 {
    background-image: url("../bg/cluster2-10.webp");
}

#img2-11 {
    background-image: url("../bg/cluster2-11.webp");
}

#img2-12 {
    background-image: url("../bg/cluster2-12.webp");
}

#img2-13 {
    background-image: url("../bg/cluster2-13.webp");
}

#img2-14 {
    background-image: url("../bg/cluster2-14.webp");
}

#img3 {
    background-image: url("../bg/cluster3.webp");
}

#img4 {
    background-image: url("../bg/cluster4.webp");
}

#img5 {
    background-image: url("../bg/cluster5.webp");
}

#img6 {
    background-image: url("../bg/cluster6.webp");
}

#img7 {
    background-image: url("../bg/cluster7.webp");
}

#img8 {
    background-image: url("../bg/cluster8.webp");
}

#img9 {
    background-image: url("../bg/cluster9.webp");
}

#img10 {
    background-image: url("../bg/cluster10.webp");
}

#img11 {
    background-image: url("../bg/cluster11.webp");
}

#img12 {
    background-image: url("../bg/cluster12.webp");
}

#img13 {
    background-image: url("../bg/cluster13.webp");
}

#img14 {
    background-image: url("../bg/cluster14.webp");
}

#img15 {
    background-image: url("../bg/cluster15.webp");
}

#img16 {
    background-image: url("../bg/cluster16.webp");
}

#img17 {
    background-image: url("../bg/cluster17.webp");
}

#img18 {
    background-image: url("../bg/cluster18.webp");
}

#img19 {
    background-image: url("../bg/cluster19.webp");
}

#img20 {
    background-image: url("../bg/cluster20.webp");
}

#img21 {
    background-image: url("../bg/cluster21.webp");
}

#img22 {
    background-image: url("../bg/cluster22.webp");
}

#img23 {
    background-image: url("../bg/cluster23.webp");
}

.thefog {
  position: absolute;
  width:100%;
  height: 100%;
  background-image: url("fog.gif");
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 75%;
    pointer-events: none;
}

.player-wrap {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    z-index: 500;
}

.toggle-wrap {
flex: 0 0 auto;
padding-right: 15px;
}

.hidden {
  display: none !important;
}

#play-button {
  width: 40px;
  height: 40px;
  font-family: Materialiconsround, sans-serif;
  color: #000;
  border: none ;
  border-radius:30px;
  font-size: 20px;
  text-align: center;
  background-color: #FFF;
}

#play-button:hover {
  color: #FFF;
  background-color: #000;
}

#play-button-load {
  width: 40px;
  height: 40px;
  font-family: Materialiconsround, sans-serif;
  color: #000;
  border: none ;
  border-radius:30px;
  font-size: 20px;
  display: none;
  text-align: center;
  background-color: #FFF;
}

#play-button-load:hover {
  color: #FFF;
  background-color: #000;
}

#pause-button {
  width: 40px;
  height: 40px;
  font-family: Materialiconsround, sans-serif;
  color: #000;
  border: none ;
  border-radius:30px;
  font-size: 20px;
  text-align: center;
  background-color: #FFF;
}

#pause-button:hover {
  color: #FFF;
  background-color: #000;
}

#scene {
    position:absolute;
    width:100%;
    height:100%;
}

@font-face {
  font-family: 'Materialiconsround';
  src: url('./fonts/materialicons.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ezekiel';
  src: url('./fonts/EzekielScript.otf') format('opentype');
}

@font-face {
  font-family: 'Canada';
  src: url('./fonts/canada1500-rg.otf') format('opentype');
}

@font-face {
  font-family: 'Canadalt';
  src: url('./fonts/canada1500-lt.otf') format('opentype');
}

@media (max-width: 500px) {

.loadingscreen {width: 100%;}
.vertcen {width: 100%;}

.cap1 {
         font-size: 0.7em;
         line-height: 0.9em;
    }
.cap2 {
        font-size: 0.6em;
        line-height: 0.9em;
    }

.loadingscreen p {
    width: 100%;
    padding-left:20px;
    padding-right:20xpx;
}

h1 {
    letter-spacing: 0.07em;
}

h2 {
    line-height: 0.9em;
    font-size: 1.5em;
    padding-top:5px;
}

}